<h1 class="page-header">Enter Login Details</h1>
<section class="form">
    <form method="POST" action="/user/login" class="user-entry-form">
        <div class="form-box">
            <label for="email">Email :</label>
            <input type="email" name="emailAddress" placeholder="Enter your email address" value="{{data.emailAddress}}"><br>
            {{#if messages.emailAddress}}
                <div class="error-message"> {{messages.emailAddress}} </div>
            {{/if}}

            <label for="password">Password :</label>
            <input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Enter your password" value="{{data.password}}"><br>       
            {{#if messages.password}}
                <div class="error-message"> {{messages.password}} </div>
            {{/if}} 
        </div>

        <div>
            <input type="submit" value="LOGIN" class="form-button">
        </div>

        <div class="form-question">
            {{#each errors}}
                <div class="error-message"> {{this}} </div>
            {{/each}}
            <hr>
            <p class="form-note">**Authorized login only !</p>
        </div>
       

    </form>
</section>
