<section class="about-project">
    <aside class="page-nav">
        <h1 class="project-header">Project Details</h1>
        <a href="/project/list" class="other-button">Back to Projects</a>   
    </aside>

    <article class="project-details">
        <h2 class="project-label">Title :</h2>
        <p class="project-info">{{projectTitle}}</p>
    </article>
    <article class="project-details">
        <h2 class="project-label">Category :</h2>
        <p class="project-info">{{projectCategory}}</p>
    </article>
    <article class="project-details">
        <h2 class="project-label">Type :</h2>
        <p class="project-info">{{projectType}}</p>
    </article>
    <article class="project-details">
        <h2 class="project-label">Tools and Technology :</h2>
        <p class="project-info">{{projectToolsAndTechnology}}</p>
    </article>
    <article class="project-details">
        <h2 class="project-label">Description :</h2>
        <p class="project-info">{{projectDescription}}</p>
    </article>
</section>

<section class="frame-container">
    <article class="row">
        <header class="column">
            <iframe src="{{this.projectLink}}"  seamless="seamless" scrolling="yes" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>
        </header>       
    </article>
</section>


